
/**
 * That markdown on the left doesn't look great.
 * Let's render it.
 */

#work.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 800px;
}

/**
 * Alright. We're ready.
 *
 * 3...
 * 2...
 * 1...
 *
 * .
 * ....faked you out, hehehe.
 * You thought we were going to take off, but not yet!
 * Don't worry, the countdown will start again soon⏳. Just kidding😅!
 *
 * Okay, now here we go for real this time! 
 *
 */
