html, body {
    margin-top: 0;
    height: 100vh;
    overflow: hidden;
}

pre {
    overflow: auto;
    max-height: 90%;
    width: 100%;
    border-radius: 1px;
}

#content {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 20px;
}

a:after {
    content: '';
    padding-right: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: inherit;
}

a:last-of-type:after {
    border: none;
}

@media (max-width: 420px) {
    html {
      font-size: 8px;
    }
}

@media (min-width: 420px) {
    html {
      font-size: 15px;
    }
}

/* Markdown Styling */
h1, h2{
    margin-top: 0;
    margin-bottom: 0;
    
}
h1, h2{
    width: fit-content;
    border-bottom: 1px solid #ccc;
}

blockquote{
    margin: 0px 0px 0px 2rem;
}

p{
    margin-top: 0px;
}


/* styling footer */
footer{
    position: absolute;
    height: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px;
}
